version: 2
updates:
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "daily"
- package-ecosystem: "docker"
  directory: "/"
  schedule:
    interval: "daily"
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "daily"
  groups:
    aws:
      patterns:
      - "^github.com/aws/aws-sdk-go-v2/.*$"
    google:
      patterns:
      - "^github.com/google/.*$"

