---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.0
  name: auths.hyperspike.io
spec:
  group: hyperspike.io
  names:
    kind: Auth
    listKind: AuthList
    plural: auths
    singular: auth
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Auth is the Schema for the auths API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: AuthSpec defines the desired state of Auth
            properties:
              autoDiscoveryURL:
                description: The URL to the OIDC provider (e.g. https://oidc.example.com)
                type: string
              clientID:
                description: The client ID for the OIDC provider
                properties:
                  key:
                    description: The key of the secret to select from.  Must be a
                      valid secret key.
                    type: string
                  name:
                    default: ""
                    description: |-
                      Name of the referent.
                      This field is effectively required, but due to backwards compatibility is
                      allowed to be empty. Instances of this type with an empty value here are
                      almost certainly wrong.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                  optional:
                    description: Specify whether the Secret or its key must be defined
                    type: boolean
                required:
                - key
                type: object
                x-kubernetes-map-type: atomic
              clientSecret:
                description: The client secret for the OIDC provider
                properties:
                  key:
                    description: The key of the secret to select from.  Must be a
                      valid secret key.
                    type: string
                  name:
                    default: ""
                    description: |-
                      Name of the referent.
                      This field is effectively required, but due to backwards compatibility is
                      allowed to be empty. Instances of this type with an empty value here are
                      almost certainly wrong.
                      More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                    type: string
                  optional:
                    description: Specify whether the Secret or its key must be defined
                    type: boolean
                required:
                - key
                type: object
                x-kubernetes-map-type: atomic
              groupClaimName:
                description: Group Claim name to use for group membership
                type: string
              instance:
                description: The Gitea instance to add the OIDC authentication to
                properties:
                  labels:
                    additionalProperties:
                      type: string
                    type: object
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - name
                type: object
              provider:
                type: string
              scopes:
                description: Scopes to request from the OIDC provider
                items:
                  type: string
                type: array
            required:
            - autoDiscoveryURL
            - clientID
            - clientSecret
            - groupClaimName
            - instance
            - provider
            - scopes
            type: object
          status:
            description: AuthStatus defines the observed state of Auth
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
