---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.20.0
  name: repoes.hyperspike.io
spec:
  group: hyperspike.io
  names:
    kind: Repo
    listKind: RepoList
    plural: repoes
    singular: repo
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.provisioned
      name: Ready
      type: boolean
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1
    schema:
      openAPIV3Schema:
        description: Repo is the Schema for the repoes API
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: RepoSpec defines the desired state of Repo
            properties:
              auto_init:
                description: Whether the repository should be auto-intialized?
                type: boolean
              default_branch:
                description: DefaultBranch of the repository (used when initializes
                  and in template)
                type: string
              description:
                description: a brief explanation of the repo
                type: string
              gitignores:
                description: Gitignores to use
                type: string
              issue_labels:
                description: Issue Label set to use
                type: string
              license:
                description: License to use
                type: string
              org:
                properties:
                  labels:
                    additionalProperties:
                      type: string
                    type: object
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - name
                type: object
              private:
                description: Whether the repository is private
                type: boolean
              push_mirror:
                description: Mirror settings
                properties:
                  enable:
                    description: Whether to mirror the repository
                    type: boolean
                  interval:
                    description: Interval for mirroring the repository
                    type: string
                  password:
                    description: Password for authentication
                    type: string
                  remote_url:
                    description: Remote URL for the mirror
                    type: string
                  sync_on_commit:
                    description: SyncOnCommit indicates whether to sync on every commit
                    type: boolean
                  user_name:
                    description: UserName for authentication
                    type: string
                type: object
              readme:
                description: Readme of the repository to create
                type: string
              template:
                description: Whether the repository is template
                type: boolean
              trust_model:
                description: TrustModel of the repository
                type: string
              user:
                properties:
                  labels:
                    additionalProperties:
                      type: string
                    type: object
                  name:
                    type: string
                  namespace:
                    type: string
                required:
                - name
                type: object
            type: object
          status:
            description: RepoStatus defines the observed state of Repo
            properties:
              provisioned:
                description: |-
                  INSERT ADDITIONAL STATUS FIELD - define observed state of cluster
                  Important: Run "make" to regenerate code after modifying this file
                type: boolean
            required:
            - provisioned
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
